html, body {
  // height: 100%;

}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $background-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 10px 0;
}
a {
  @include link-colors($boyu, $boyu-hover);
  text-decoration: none;
  border-bottom: 1px solid $boyu;
}
a:hover {
  text-decoration: none;
}

#header {

}
#content {
  position: relative;
  height: auto;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  @include susy-breakpoint($pad, 8) {
    height: inherit;
  }
}
#footer {
  margin: rhythm(1.5) auto;
  p {
    font-size: 14px;
    line-height: 1;
  }
}
